h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
}


.responsive-img {
   /* margin: 0;*/
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    /*vertical-align: middle;*/
    display: block;
}
